body {
    background-color: #064ba4;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container  {
    display: grid;
    width: 400px;
    height: 400px;
    background-color: white;
}

h1 {
    color: white;
    font-size: 2.5rem;
}

